/* Arquivo responsável por todo o stylo da página index e o modal.
*  @author Sergio Severino da Silva <elderseriogio.net@hotmail.com> 
*  @version 0.1 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

.leo-layout {
	main {
			background: #efefef;
		header {
			min-height: 80px;
			background-color: #ffffff;
			width: 100%;
			box-sizing: border-box;
			padding: 50px 60px 25px 60px;
    		box-shadow: #000 0 0 15px 0px;
			// z-index: 999999;
			position: relative;

			nav.menu-topo {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;

				a {
					img {
						width: 100px;
					}
				}

				.menu-topo-lateral {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: center;
					
					form.form-busca {
						margin-right: 15px;
						padding: 8px 0px;
						.busca {
							border: #d3d3d3 2px solid;
							border-radius: 26px;
							background: #efefef;
							padding: 10px;
							display: flex;
							align-items: center;
							justify-content: center;

							input {
								background: transparent;
								border: 0;
								outline: none;
								min-width: 250px;
								margin-left: 10px;
								margin-bottom: -5px;
								font-size: 16px;
								color: #919191;

								&::placeholder {
									color: #919191;
									font-size: 16px;
								}
							}

							span.material-icons {
								color: #919191;
							}

						}

						@media (max-width: 650px) {
							.busca { 
								width: 75%;
								justify-content: normal;
								input {
									min-width: 0px;
								}
							}
						}
					}

					.dropdown-container {
						padding-left: 15px;
						border-left: #efefef solid 1.5px;

						.dropdown {
							position: relative;

							.dropdown-handler {
								display: flex;
								flex-direction: row;
								flex-wrap: nowrap;
								align-items: center;
								justify-content: space-between;

								&:hover {
									cursor: pointer;
								}

								.dropdown-image {
									width: 50px;
									height: 50px;
									overflow: hidden;
									border-radius: 50px;
									border: #929290 solid 2px;
								}

								.dropdown-info {
									margin-left: 20px;
									display: flex;
									flex-direction: column;
									gap: 5px;
    								min-width: 120px;
									.welcome {
										font-size: 13px;
										color: #c7c7c7;
									}
									.nome {
										color: #616161;
										font-weight: bold;
										font-size: 20px;
									}
								}

								span.dropdown-icon {
									font-size: 31px;
								}
							}

							&.active .dropdown-submenu {
								display: block;
							}

							.dropdown-submenu {
								position: absolute;
								background: white;
								width: 100%;
								box-shadow: #000000 0px 7px 3px 0;
    							display: none;

								ul {
									list-style: none;

									li a {
										text-decoration: none;
										box-sizing: border-box;
										padding: 20px;
										width: 100%;
										text-align: center;
										display: block;
										text-transform: uppercase;
										font-weight: bold;
										color: grey;
									}
								}
							}
						}
					}
				}

				@media (max-width: 700px) {
					.menu-topo-lateral { 
						display: block;
						width: 60%;
						padding: 8px 0px;
					}
				}

				@media (max-width: 550px) {
					.menu-topo-lateral { 
						width: 100%;
						padding: 8px 0px;
					}
				}
			}
			@media (max-width: 800px) {
				nav.menu-topo { 
					display: block;
					height: 150px;
				}
			}
		}

		@media (max-width: 420px) {
			header {
				padding: 50px 20px 25px 20px;
			}
		}
		section.slider-show {
			width: 100%;
    		position: relative;

			.slider-show-container {
				height: 330px;
				overflow: hidden;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				position: relative;

				.slider-show-prev, .slider-show-content, .slider-show-next {
					height: 330px;
    				z-index: 2;
					outline: none;
				}
				
				.slider-show-prev, .slider-show-next {
					display: flex;
					align-items: center;
					vertical-align: middle;
					box-sizing: border-box;

					span {
    					font-size: 64px;
						color: rgba(255, 255, 255, .5);

						&:hover {
							cursor: pointer;
						}
					}
				}

				.slider-show-content {
					width: 99999px;
					overflow: hidden;
					display: block;
    				z-index: 1;
					position: absolute;
					top: 0;
					left: 0;

					.slider-show-step {
						width: 100%;
						height: 330px;
						float: left;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						padding: 40px 64px;
						box-sizing: border-box;
						display: none;

						&.ativo {
							display: block;
						}


						.slider-show-box {
							width: 380px;
							background: rgba(0,0,0,.5);
							color: #FFFFFF;
							padding: 30px;
							box-sizing: border-box;

							h1 {
								font-size: 26px;
								font-weight: bold;
								margin-bottom: 20px;
								text-transform: uppercase;
							}

							p {
								line-height: 1.2;
								margin-bottom: 20px;
							}

							a {
								border: #FFFFFF 2px solid;
								background: transparent;
								color: #FFFFFF;
								text-transform: uppercase;
								text-decoration: none;
								box-sizing: border-box;
								padding: 10px 30px;
								border-radius: 25px;
								display: inline-block;
								font-size: 11px;
							}
						}
					}

					@media (max-width: 450px) { 
						.slider-show-step {
							padding: 40px 50px;
							.slider-show-box {
								width: 300px;
								padding: 10px;
							}
						}
					}

					@media (max-width: 400px) { 
						.slider-show-step {
							padding: 10px 36px;
							.slider-show-box {
								width: 250px;
								padding: 10px;
							}
						}
					}
				}
			}
			.slider-show-footer {
				display: flex;
				justify-content: center;
				margin-top: -15px;
    			position: relative;
    			z-index: 1;

				.slider-show-steps {
					background: #ffffff;
					box-shadow: #000000 0 0 10px;
					display: inline-flex;
					flex-direction: row;
					flex-wrap: nowrap;
					gap: 8px;
					padding: 15px;
					padding: 10px;
					border-radius: 20px;

					.slide-show-point {
						background: #cccacb;
						width: 15px;
						height: 15px;
						border-radius: 15px;

						&:not(.ativo):hover {
							cursor: pointer;
						}

						&.ativo {
							background: #4b4140;
						}
					}
				}
			}
		}
		section.courses {
    		padding: 50px;
			background: #efefef;
			.h2 {
				color: #7a7a7a;
				text-transform: uppercase;
				border-bottom: 1px #7a7a7a solid;
				width: 100%;
				display: block;
				font-size: 26px;
				font-weight: bold;
				padding-bottom: 10px;
			}

			.my-courses {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 30px 0;
				gap: 30px;

				article.course {
					width: calc(25% - 30px);
					background: #FFFFFF;
					box-shadow: #000000 0 0 2px;
					margin-bottom: 10px;

					.hero {
						display: block;
						width: 100%;
						img {
							display: block;
							width: 100%;
						}
					}

					.info-box {
						padding: 25px;
						box-sizing: border-box;
						display: block;

						h3 {
							font-weight: bold;
							margin-bottom: 15px;
							font-size: 18px;
							text-transform: uppercase;
							color: #545454;
						}

						p {
							color: #929292;
							margin-bottom: 25px;
							font-size: 15px;
						}

						a {
							background-color: #01a02a;
							color: #FFFFFF;
							text-decoration: none;
							text-align: center;
							display: block;
							height: 36px;
							line-height: 36px;
							border-radius: 36px;
							text-transform: uppercase;
							font-size: 14px;
							font-weight: bold;
						}
					}
				}
				
				.add-course {
					width: calc(25% - 30px);
					border: #9f9f9f dashed 5px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
    				border-width: medium;

					&:hover {
						cursor: pointer;
					}

					.menor, .maior {
						text-transform: uppercase;
						color: #9f9f9f;
					}

					.menor {
						font-size: 21px;
					}
					.maior {
						font-size: 30px;
    					font-weight: bold;
					}
				}

				@media (max-width: 1000px) {
					article.course { 
						width: calc(34% - 30px);
					}
					.add-course { 
						width: calc(34% - 30px);
					}
				}

				@media (max-width: 850px) {
					article.course { 
						width: calc(50% - 30px);
					}
					.add-course { 
						width: calc(50% - 30px);
					}
				}

				@media (max-width: 650px) {
					article.course { 
						width: calc(100% - 30px);
					}
					.add-course { 
						width: calc(100% - 30px);
					}
				}
			}
		}

		footer {
			width: 100%;
			display: block;

			.rodape {
				background: #FFFFFF;
				color: #9f9f9f;
				height: 150px;
				// padding-left: 35px;
				// padding-right: 35px;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				padding: 6px 6px;

				.scope-big {
					flex: auto;
    				width: 100%;
					padding: 6px 0px;
					
					p {
						max-width: 450px;
						margin-top: 15px;
						font-size: 14px;
					}
				}

				.scope-small {
					width: 290px;
					padding: 6px 0px;
					h3 {
						font-weight: bold;
						text-transform: uppercase;
						margin-bottom: 15px;
					}

					p {
						margin-bottom: 5px;
					}

					.social-icons {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						width: 100%;
						box-sizing: border-box;
						gap: 15px;
						a {
							background: #b5b5b5;
							width: 38px;
							height: 38px;
							text-align: center;
							border-radius: 38px;
							display: flex;
							align-items: center;
							justify-content: center;

							object svg path {
								fill: #FFFFFF;
							}
						}
					}
				}
			}

			@media (max-width: 800px) {
				.rodape {
					display: block;
					height: 260px;
				}
			}

			.copyright {
				background: #e5e1e2;
				color: #9f9f9f;
				height: 35px;
				line-height: 35px;
				padding-left: 35px;
			}
		}
	}
	
	.modal {
		background-color: rgba(0, 0, 0, .5);
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 3;
	}
	
	.modal-content {
		margin: 0 auto;
		margin-top: 25%;
		transform: translateY(-25%);
		max-width: 550px;
		background-color: #eee;
		padding: 0px;
		box-shadow: 0 0 2px #fff;
		border-radius: 10px;
		position: relative;
	}

	@media (max-width: 600px) {
		.modal-content {
			max-width: 400px;
		}
	}

	@media (max-width: 450px) {
		.modal-content {
			max-width: 300px;
		}
	}
	
	.modal-img {
		max-height: 150px;
		overflow: hidden;
		border-radius: 8px 8px 0px 0px;
	}
	
	.modal-img > img {
		max-width: 100%;
		max-height: 50%;
	}
	
	.modal-body {
		padding: 10px;
		text-align: center;
	}
	
	.modal-body > h3 {
		font-weight: bold;
	}
	.modal-body > p {
		font-size: 12px;
		padding: 0px 15%;
	}
	
	.modal-body > button {
		color: #fff;
		background-color: #30a8d2;
		border-radius: 20px;
		border: 0;
		padding: 10px 10%;
		cursor: pointer;
	}
	
	.fechar {
		position: absolute;
		right: -15px;
		top: -15px;
		background-color: #fff;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 30px;
		box-shadow: #000 0 0 6px;

		i {
			color: #f3970ea1;
		}
	}
}